@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
--header-color: #003366;
--accent-color: #4CAF50;
--text-color: #131212;
--main-color-2: #FF9800;
--accent-color-2: #E3F2FD;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: var(--accent-color);

}
body{
    font-family: abril-fatface, Montserrat;
    background-color: #bdb8b8;
}
/* general styles */
.container{
    position: relative;
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
  
  }
  
  .sub-heading{
    font-size: 0.99rem;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    padding: 0.41rem 0.72rem;
    text-transform: uppercase;
    position: relative;
    color: var(--header-color);
    transition: 0.3s ease-in;
  }
  .sub-heading::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: var(--main-color-2);
  }
  .cta{
    margin: 3rem 0;
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  .btn{
    padding: 0.9rem 1.2rem;
    background-color: var(--accent-color);
    color: #fff;
    border-radius: 12px;
    font-size: 0.85rem;
    letter-spacing: 0.4px;
    text-align: center;
    display: inline-block;
    font-family: inherit;
    border: none;
    outline: none;
    transition: 0.3s;
  }
  .btn.secondary-btn{
    background-color: transparent;
    color: var(--accent-color);
    border-bottom: 2px solid var(--main-color-2);
    border-radius: 0;
    padding: 0;
    position: relative;
  }
  .btn.secondary-btn::before{
    position: absolute;
    left: 0;
    bottom:-2px;
    content: "";
    width: 0;
    height: 2px;
    transition: 0.4s ease-in-out;
  }
  .btn.secondary-btn:hover:before{
    width: 100%;
    background-color: var(--accent-color);
  }
  .heading{
    font-size: 2.6rem;
    font-family:  serif;
    font-weight: 500;
    margin: .99rem 0;
    color: var(--header-color);
    transition: 0.3s ease-in;
    text-transform: capitalize;
  }
  .text{
    font-weight: 300;
    letter-spacing: .7px;
    font-size: 16px;
    color: var(--text-color);
    transition: 0.3s ease-in;
   
  }
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10rem;
    align-items: center;
    padding: 4% 6%;
    text-transform: uppercase;
    background-color: var(--text-color); 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    max-height: 100px;
    transition: 0.3s;
}
header a{
    color: var(--accent-color-2)
}

header.scrolled{
    padding: 2% 6%;
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    background-color: hsla(210, 100%, 20%, 0.295);
    max-height: 80px;
}
header nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.large-menu{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.large-menu li{
    list-style: none;
    
}/* .large-menu li a{
    padding: 7px 9px;
    border-radius: 5px;
    transition: 0.3s;
} */
/* .large-menu li a:hover{
    background-color: var(--accent-color);
    color: var(--text-color);
} */
.nav-links{
    display: inline-block;
    /* padding: 7px 9px;
    border-radius: 5px; */
    position: relative;
    font-weight: 500;
    opacity: 0.9;
    transition: 0.3s;
  }
  .nav-links:hover, .nav-links.active{
    color:;
  }
.nav-links::after{
    content:"";
    position: absolute;
    width: 0;
    height: 10px;
    border-radius: 10px;
    z-index: -1;
    background-color: var(--accent-color);
    bottom: 0;
    left: -5px;
    opacity: 0;
  }
  .nav-links:hover::after, .nav-links.active::after{
    width: 100%;
    opacity: 0.2;
  }
  .menu{
    display: none;
  }


/* hero section */

#home{
    background:  url(assets/felicia\ fred\ hero\ 2.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top 25% right 10%;
    margin: 5rem auto;
}
#home .container{
    height: calc(100vh - 120px);
    height: 600px;
    align-items: center;
}

#home .profile-info{
    padding: 120px 0;
    flex-basis: 65%;
}
#home .showcase-img .fluid-img{
    width: 100%;
    object-fit: contain;
}


/* ABOUT */

.about-info .heading{
    margin-bottom: 0.6rem;
}
.about-info .sub-heading{
    margin-top: 0.6rem;
}
.about-info .text{
    line-height: 26px;
    font-weight: 500;
}

.tab-titles{
    margin-top: 1.7rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.tabs{
    position: relative;
    cursor: pointer;
    transition: 0.3s ease-in;
    color: var(--header-color);
    opacity: 0.6;
    font-size: 20px;
}
.tabs::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--main-color-2);
    transition: 0.3s ease-in;
}
.tabs.active::after{
    width: 50%;
}

.tab-info ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
.tab-info {
    margin-top: 1.1rem;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    
}

.tab-content span{
    color: var(--main-color-2);
}
.tab-content li p{
    margin-left: 1rem;
}

/* SERVICES */

#services .services{
    background-color: #fff;
    margin-top: 5rem; 
    padding: 5rem 2.5rem;
    border-radius: 20px;
    box-shadow: 5px 2px 7px rgba(46, 56, 82, 0.4);
}
#services .services .sub-heading{
        font-size: 1rem;
        font-weight: 600;
        position: relative;
        color: black;
      }
 #services .services .sub-heading::before{
        background-color: var(--accent-color);
      }   

#services .services .text{
    font-weight: 400;
    letter-spacing: .8px;
    font-size: 17px;
    line-height: 23px;
    color: var(--text-color);
    
}
.grid-col{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
.service-item {
    background-color: #fff;
    
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.service-item img {
    max-width: 100%;
    
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.3s;

}
.img-container{
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 25px;
}
.img-container:hover img{
    transform: scale(1.15);
}

.service-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: left;
}

.service-item p {
    font-size: 1rem;
    
    text-align: start;
}


/* RECOMENDATION */


.comment-head{
    display: flex;
    align-items: center;
    gap: 1.47rem;
}

.profil-pic img{
    width: 85px;
    height: 85px; 
    border-radius: 50%; 
    object-fit: cover;
}

.profil h3{
    color: var(--text-color);
    font-weight: 600;
}
.profil h5{
    font-size: 16px;
    margin: .33rem 0;
    
}
.profil h5 a{
    color: var(--accent-color);
    padding-left: .3rem;
    display: inline-block;
    opacity: 0.9;
    letter-spacing: .5px;
}
.profil span i{
    color: rgb(161, 141, 27);
}
.swiper{
    background-color: hsl(209, 41%, 79%);
    border-radius: 20px;
    margin-top: 2rem;
    box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.1);
}
.swiper-wrapper{
    padding: 2rem;
    
}
.swiper-slide{
    padding:  2rem 1.5rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 1.34rem;
}

.swiper-pagination-bullet{
    background-color: #003366;
    cursor: pointer;
    width: 9px;
    height: 9px;

}

.comment-body {
    position: relative;
  }
  
  .recommendation-text {
    color: var(--text-color);
    overflow: hidden;
    font-weight: 500;
    line-height: 25px;
    max-height: 70px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.recommendation-text.expanded {

    overflow: visible;
    max-height: none;
}
  
  .toggle-button {
    background-color: black;
    color: #FFF;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  /* FOOTER SECTION */

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    margin-top: 5rem;
    padding: 4% 6%;
    text-transform: uppercase;
    background-color: var(--text-color); 
    color: var(--accent-color-2);
    width: 100%;
  }

  .footer-icon{
    display: flex;
    gap: 1rem;
  }
  .footer-icon i{
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s ease-in;
  }
  .footer-icon i:hover{
    transform: translateY(-7px);
  }

  /* MEDIUM SCREEN DEVICES */

  @media (max-width: 1250px) {
    .container{
        
        margin: 0 auto;
        padding: 0 3rem;
      }
  }

  @media (max-width: 1250px) {
    /* .sub-heading{
        font-size: 0.99rem;
        font-weight: 600;
        letter-spacing: .5px;
        text-transform: uppercase;
        padding: 0.41rem 0.72rem;
        text-transform: uppercase;
        position: relative;
        color: var(--header-color);
        transition: 0.3s ease-in;
      }
 */
      #home {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(assets/felicia\ fred\ hero\ 2.jpeg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top 25% right 10%;
        margin: 5rem auto;
    }

    #home .text{
            font-weight: 300;
            letter-spacing: .7px;
            font-size: 16px;
            color: white;
            line-height: 22px;
    }
    #home .heading{
        font-size: 2.6rem;
        font-family:  serif;
        font-weight: 700;
        margin: .99rem 0;
        color: var(--header-color);
        transition: 0.3s ease-in;
        text-transform: capitalize;
      }
      .grid-col{
        
        gap: 1rem;
    }

    #services .container{
        margin-top: 5rem;
        padding: 5rem 1.5rem;
     
    }
  }

  @media (max-width: 800px) {
    header{
        gap: 2rem;
        overflow: hidden;
        max-height: 100px;
    }
    header nav{
        order: 3;
        flex-basis: 100%;
        flex-direction: column;
    }
    .large-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header nav{
        position: relative;
    }
    header nav::after{
        content: '';
        position: absolute;
        width: 0%;
        height: 0.5px;
        background-color: var(--accent-color-2);
        opacity: 0.7;
        top: 0;
        left: 0;
        transition: 0.3s;
    }
    .overlay{
        width: 100vw;
        height: 100vh;
        top:0;
        left:0;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 6;
        opacity: 0;
        transition: 0.3s;
        pointer-events: none;
    }

    body.open header{
        max-height: 655px;
    }
    body.open header nav::after{
        width: 100%;
        opacity: 0.7;
    }
    
    body.open .overlay{
        opacity: 1;
        pointer-events: auto;

    }
    .menu{
        display: block;
        color: var(--accent-color-2);
        font-size: larger;
    }
    .nav-links{
        margin: 1.5rem 0;
        font-weight: 500;
    }
    #services .container {
        margin-top: 0; 
        padding: 1rem 1.5rem; 
    }

    footer {
        flex-direction: column; /* Stack items vertically for better alignment */
        align-items: center; /* Center items horizontally */
        text-align: center; /* Center text inside footer */
        height: auto; /* Allow height to adjust based on content */
    }

    .footer-icon {
        flex-direction: row; /* Align icons in a row */
        justify-content: center; /* Center icons horizontally */
        gap: 0.5rem; /* Reduce space between icons */
        margin-top: 1rem; /* Add space above icons */
    }

    .footer-icon i {
        font-size: 20px; /* Slightly smaller icons */
    }

    footer h3, footer p {
        margin: 0.5rem 0; /* Add spacing between heading and paragraph */
    }
  }