html {
  scroll-behavior: smooth;
}
section {
  margin: 7rem 0;
}

/* .hero {
  margin-top: 43px;
} */

.about-grid {
  display: grid;
  grid-template-columns: 190px 190px;
  grid-template-rows: 190px 190px;
  row-gap: 4rem;
  column-gap: 2.5rem;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about-grid::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 15rem;
  height: 15rem;
  border: 20px solid #c7c6c6;
}
.grid-content {
  background-color: #c7c6c6;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}
.grid-content:hover {
  transform: scale(1.1);
}
.grid-content h5 {
  transform: scale(0);
  transition: 0.5s;
}
.grid-content:hover h5 {
  transform: scale(1.1);
}
.grid-content:nth-child(1) {
  border-bottom-right-radius: 0;
  margin-top: -2rem;
}
.grid-content:nth-child(2) {
  margin-bottom: -2rem;
  border-bottom-left-radius: 0;
}
.grid-content:nth-child(3) {
  border-top-right-radius: 0;
  margin-top: -2rem;
}
.grid-content:nth-child(4) {
  margin-bottom: -2rem;
  border-top-left-radius: 0;
}

.service-img {
  aspect-ratio: 16/9;
  object-fit: cover;
}
.swiper-slide {
  padding: 2rem 3.5rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.34rem;
}

.swiper-pagination-bullet {
  background-color: #198754;
  cursor: pointer;
  width: 9px;
  height: 9px;
  margin-top: 1rem;
}
.comment-head {
  display: flex;
  align-items: center;
  gap: 1.47rem;
}

.profil-pic img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
}
.glass {
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
  border-radius: 15px; /* Rounded corners */
  backdrop-filter: blur(10px); /* Blur effect for the glassmorphism look */
  padding: 20px; /* Add some padding */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow for depth */
  color: white; /* Text color to ensure readability */
}

/* .profil h3 {
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
} */
/* .profil h5 {
  font-size: 16px;
  margin: 0.33rem 0;
}
.profil h5 a {
  color: var(--accent-color);
  padding-left: 0.3rem;
  display: inline-block;
  opacity: 0.9;
  letter-spacing: 0.5px;
} */
span i {
  color: goldenrod;
}

.comment-body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.recommendation-text {
  flex-basis: 80%;
  color: var(--text-color);
  overflow: hidden;
  font-weight: 500;
  line-height: 25px;
  max-height: 70px;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.recommendation-text.expanded {
  overflow: visible;
  max-height: none;
}

.toggle-button {
  color: #000;
  border: none;
  padding: 10px 0;
  font-style: italic;
  cursor: pointer !important;
}

/* FOOTER SECTION */
footer {
  background: rgb(37, 37, 37);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 20vh;

  text-transform: uppercase;

  width: 100%;
}
.footer-icon {
  display: flex;
  gap: 0.5rem;
}
.footer-icon a {
  color: #198754;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.footer-icon a:hover {
  transform: translateY(-7px);
}

/* MEDIA 999PX */

@media (max-width: 999px) {
}

@media (max-width: 500px) {
  .hero {
    margin-top: 80px;
  }
  .comment-head {
    flex-direction: column;
    align-items: start;
    gap: 1rem;
  }
  .swiper-slide {
    padding: 1rem 1.5rem 0 1.5rem;
    gap: 1rem;
  }

  .profil-pic img {
    width: 65px;
    height: 65px;
  }
  .footer {
    height: auto;
  }
}
